* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
}

.container h1 {
    font-size: 36px;
    color: white;
    font-family: "Satoshi", sans-serif; /* Specify the "Satoshi" font */
    margin-top: 20px;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
